# main tunnel pool
/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc -u your.username -k your-access-key -v --no-remove-colliding-tunnels -i main-tunnel-pool --se-port 0 

/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc -u your.username -k your-access-key -v --no-remove-colliding-tunnels -i main-tunnel-pool --se-port 0 

/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc -u your.username -k your-access-key -v --no-remove-colliding-tunnels -i main-tunnel-pool --se-port 0

# -B tunnel
/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc -u your.username -k your-access-key -v -B all -i no-bump --se-port 0  
