# boring and long example tunnel
#/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc -u max.dobeck -k something -v --no-remove-colliding-tunnels -N -i main-tunnel-pool --se-port 0 --pidfile /tmp/sc_client-1.pid 

# tunnel will use '/Users/maxdobeck/logs' and create a random filename
/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc -i logfile-test -l /Users/maxdobeck/logs

# same here but the '/' at the end is optional
/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc  -i logfile-test2 -l /Users/maxdobeck/logs/

# bad path to logfile will throw an ERROR and the tunnel will not start, but it'll tell you why!
/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc -i bad-tunnel --logfile /Usersmaxdobeck/logs/some-fake-dir
