# comments are currently only valid when '#' is at the start of the line
# sry! will fix someday --max

# minimal anonymous tunnel
# technically all you need to start a tunnel is the username.  Even that can be read in via the 
/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc -u mdobeck2 -k your-access-key

# minimal named tunnel
/Users/maxdobeck/workspace/scstuff/sc-4.5.1-osx/bin/sc -u mdobeck2 -k your-access-key -i minimal-tunnel